.Business-gird{
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.home-business{
    background-image: url('../images/business.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 50px;


}